.btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    letter-spacing: _font(kern-body);
    @include transition(_duration(transition));
    cursor: pointer;
    font-size: 1.25rem;
    margin: 0.5rem;
    padding: 0.25rem 0;
    line-height: 1;
    &.active-btn {
        color: _palette(txt-accent);
        box-shadow: 0 2px _palette(txt-accent);
    }
}
.project-btn:hover {
    color: _palette(txt-accent);
    box-shadow: 0 2px _palette(txt-accent);
    @include transition(_duration(transition));
}

@include breakpoint('<=medium') {
    .projects-center {
        margin: 0 auto;
        max-width: _size(max-width);
    }
    .btn-container {
        margin-bottom: 2rem;
    }

    .project-info {
        h3 {
            font-weight: 400;
            color: _palette(txt-med);
            display: inline-block;
            border-radius: _size(border-radius);
        }
    }

    .project-date {
        letter-spacing: _font(kern-body);
    }

    .project-desc {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
        align-items: center;
        margin-bottom: 1.25rem;
    }

    .project-desc p {
        margin: 0;
    }

    .project-icon {
        color: _palette(txt-accent);
    }
}

@include breakpoint('>=large') {
    .projects-center {
        display: flex;
        column-gap: 4rem;
    }
    .btn-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .project-btn {
        margin-bottom: 1rem;
        &:hover {
            box-shadow: -2px 0 _palette(txt-accent);
        }
    }
    .active-btn {
        box-shadow: -2px 0 _palette(txt-accent);
    }

    .project-desc {
        display: flex;
        align-items: center;
        p {
            margin: 0 0 0 1rem;
        }
    }
}
