.content-card {
    display: grid;
    background-color: _palette(bg-accent);
    border-radius: _size(border-radius);
    width: 50vw;
    margin: 2em auto;
    .paragraph {
        margin-bottom: 0.8rem;
    }
}

.content-card-inner {
    width: inherit;
    padding: _size(wrapper-edges, small);
    display: flex;
    flex-flow: column nowrap;
    // align-items: center; this hides the images for some reason
}

@include breakpoint('<=xlarge') {
    .content-card {
        width: 70vw;
    }
}

@include breakpoint('<=medium') {
    .content-card {
        width: 80vw;
    }
}

@include breakpoint('<=xsmall') {
    .content-card {
        width: 90vw;
    }
}
