.card-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    @include transition(_duration(transition));
    &:hover {
        transform: scale(1.02);
    }
}

.card {
    background: _palette(fg);
    border-radius: _size(border-radius);

    &:not(.no-placement) {
        padding: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    & .underline {
        width: 3rem;
        height: 0.12rem;
    }
    & p {
        margin-top: 0.5rem;
    }

    .card-footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        & p {
            margin: 0 5px;
            font-weight: bold;
            color: _palette(txt-med);
        }

        & p::first-letter {
            text-transform: uppercase;
            font-size: 16pt;
        }
    }
}

@include breakpoint('>=xlarge') {
    .card {
        @include transition(_duration(transition));
        max-height: 300px;

        & .underline {
            @include transition(_duration(transition));
        }

        & p {
            @include transition(_duration(transition));
        }

        &:not(.no-hover):hover {
            background: _palette(button-hover);
            color: _palette(dark-red);
        }

        &:hover p {
            color: _palette(txt-dark);
        }
    }
}

@include breakpoint('<=medium') {
    .card {
        & h4 {
            color: _palette(txt-light);
        }
        & h3 {
            font-size: 1.5rem;
        }
    }
}

.card-img {
    border-radius: _size(border-radius);
    height: 15rem;
    margin: 0;
}

@include breakpoint('>=medium') {
    .card-img {
        height: 17.5rem;
    }
}
@include breakpoint('>=large') {
    .card-img {
        height: 13.75rem;
    }
}
