.card {
    background: _palette(fg);
    border-radius: _size(border-radius);
    @include transition(_duration(transition));
}

.card:not(.no-placement) {
    padding: 3rem 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card h4 {
    color: _palette(fg);
}

.card .underline {
    width: 3rem;
    height: 0.12rem;
    @include transition(_duration(transition));
}

.card p {
    @include transition(_duration(transition));
    margin-top: 0.5rem;
}

.card:not(.no-hover):hover {
    background: _palette(button-hover);
    color: _palette(dark-red);
}

.card:hover p {
    color: _palette(txt-dark);
}

.card-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.card-footer p {
    margin: 0 5px;
    font-weight: bold;
    color: _palette(txt-med);
}

.card-footer p::first-letter {
    text-transform: uppercase;
    font-size: 16pt;
}
