.error-page {
    display: grid;
    place-items: center;
    background: var(--clr-primary-10);
    text-align: center;
}
.error-page h1 {
    text-transform: uppercase;
    color: var(--clr-primary-1);
    margin-bottom: 2rem;
}
