.blog-template h1,
.blog-template h2 {
    text-align: center;
}
.blog-template ul {
    margin-top: 2rem;
    display: inline-block;
}
.blog-template ul li {
    background: _palette(accent);
    color: _palette(txt-med);
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.blog-template blockquote {
    background: _palette(txt-med);
    border-radius: _size(border-radius);
    padding: 1rem;
    line-height: 2;
    color: _palette(txt-accent);
    margin: 2rem 0;
}

.blog-template pre {
    background: #222;
    color: yellow;
    overflow-x: scroll;
    padding: 1rem 1.5rem;
    border-radius: _size(border-radius);
}

.blog-template img {
    width: 15rem;
    height: 15rem;
    margin: 3rem 0;
}
