@include breakpoint('>=xsmall') {
    .contact-form {
        border-radius: _size(border-radius);
        @include transition(_duration(transition));
        margin: auto;
        max-width: 80vw;
    }
}

@include breakpoint('>=xlarge') {
    .contact-form {
        max-width: 60vw;
    }
}
.contact-form h3 {
    padding-top: 1.25rem;
    color: _palette(txt-med);
}

.form-group {
    padding: 1rem 1.5rem;
    text-align: left;
    display: grid;
}

.form-group label {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: none;
    margin-bottom: 1.25rem;
    background: _palette(txt-light);
    border-radius: _size(border-radius);
    letter-spacing: _font(kern-body);
}
.form-control:focus {
    background: _palette(accent);
}

.form-control::placeholder {
    font-family: _font(family-heading);
    color: _palette(fg);
    text-transform: uppercase;
    letter-spacing: _font(kern-body);
}

.submit-btn {
    width: 50%;
    padding: 1rem;
    border-radius: 0 0 _size(border-radius) _size(border-radius);
}
