.contact-page {
    display: grid;
    place-items: center;
}

.contact-form {
    background: var(--clr-black);
    border-radius: _size(border-radius);
    text-align: center;
    box-shadow: var(--light-shadow);
    @include transition(_duration(transition));
    width: _size(center-width);
    max-width: 35rem;
}

.contact-form:hover {
    box-shadow: var(--dark-shadow);
}

.contact-form h3 {
    padding-top: 1.25rem;
    color: _palette(txt-med);
}

.form-group {
    padding: 1rem 1.5rem;
    text-align: left;
}

.form-group label {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: var(--clr-grey-10);
    border-radius: _size(border-radius);
    text-transform: uppercase;
    letter-spacing: _font(kern-body);
}

.form-control::placeholder {
    font-family: _font(family-heading);
    color: _palette(fg);
    text-transform: uppercase;
    letter-spacing: _font(kern-body);
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: _size(border-radius);
    border-bottom-right-radius: _size(border-radius);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
