// .hero {
//     height: 100vh;
//     background: var(--clr-black);
//     position: relative;
// }

.hero-center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .card {
        background-color: _palette(bg-accent);
        padding: 1.5rem;
        border-radius: var(--radius);
    }
    .card:hover {
        box-shadow: 0px 0px 4px 1px _palette(fg-light);
        transition: none;
    }
}
.text-link {
    color: var(--clr-primary-1);
}
.text-link:hover {
    color: red;
}

.hero-info {
    grid-row: 1/12;
    grid-column: 6 / span 12;
    height: max-content;
}

.hero-img {
    grid-row: 1;
    grid-column: 1/6;
    align-self: center;
}

.hero-info h4 {
    color: var(--clr-grey-5);
    font-size: 1.5em;
}

.hero-info h4:nth-child(3) {
    text-indent: 2em;
}

.hero-info h4 span {
    color: red;
}

.hero-info .social-links,
.hero-info .btn {
    z-index: 1;
}

.hero .btn,
.hero .social-links {
    align-self: center;
    margin-top: 1.25rem;
}

@media screen and (max-width: 1300px) {
    .hero {
        height: auto;
    }

    .hero-center {
        display: block;
    }

    .hero-img {
        display: none;
    }

    .hero-info h1 {
        text-align: center;
        font-size: 3.5rem;
    }

    .hero-info h4 {
        color: var(--clr-grey-5);
        font-size: 2em;
    }
}

@media (max-height: 800px) {
    .hero-info {
        margin-top: 2.8em;
    }

    .hero-info h4 {
        z-index: 200;
    }
}
