.portfolio-page {
    display: grid;
    gap: 0 100px;
    background-color: var(--clr-grey-0);
    border-radius: var(--radius);
    padding: 1.5rem;
}
.portfolio-tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, 195px);
    align-content: center;
    justify-content: center;
    text-align: center;
}
