.footer {
    background: linear-gradient(_palette(bg), _palette(bg), _palette(dark-blue), _palette(dark-blue), _palette(txt-dark));
    text-align: center;
    display: grid;
    place-items: center;
    min-width: 100%;
}

.footer h4 {
    margin-top: 0.5rem;
    color: _palette(txt-light);
    font-weight: normal;
    text-transform: uppercase;
}

.footer h4 span {
    color: _palette(txt-accent);
}
