.blog {
    display: block;
    margin-bottom: 2rem;
    border-radius: _size(border-radius);
    @include transition(_duration(transition));
}
.blog:hover {
    transform: scale(1.02);
}
.blog article {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.blog-img {
    border-radius: _size(border-radius);
    height: 15rem;
}

.blog-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.blog-footer p {
    margin: 0 5px;
    font-weight: bold;
    color: _palette(txt-med);
}
.blog-footer p:first-of-type {
    display: inline-block;
    background: _palette(fg-light);
    color: _palette(txt-med);
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: _size(border-radius);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}
@media screen and (min-width: 576px) {
    .blog-img {
        height: 17.5rem;
    }
}
@media screen and (min-width: 850px) {
    .blog-img {
        height: 13.75rem;
    }
}
