.footer {
    background: linear-gradient(
        var(--clr-black),
        var(--clr-black),
        var(--clr-dark),
        var(--clr-dark),
        var(--clr-primary-1)
    );
    text-align: center;
    display: grid;
    place-items: center;
    // position: absolute;

    min-width: 100%;
    // height: 10rem;
}
.footer h4 {
    margin-top: 0.5rem;
    color: var(--clr-white);
    font-weight: normal;
    text-transform: uppercase;
}
.footer h4 span {
    color: var(--clr-primary-5);
}
