.btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.job-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    letter-spacing: _font(kern-body);
    @include transition(_duration(transition));
    cursor: pointer;
    font-size: 1.25rem;
    margin: 0.5rem;
    padding: 0.25rem 0;
    line-height: 1;
}
.job-btn:hover {
    color: _palette(txt-accent);
    box-shadow: 0 2px _palette(txt-accent);
}
.active-btn {
    color: _palette(txt-accent);
    box-shadow: 0 2px _palette(txt-accent);
}

@include breakpoint('<=medium') {
    .jobs-center {
        margin: 0 auto;
        max-width: _size(max-width);
    }
    .btn-container {
        margin-bottom: 2rem;
    }

    .job-info {
        h3 {
            font-weight: 400;
            color: _palette(txt-med);
            display: inline-block;
            border-radius: _size(border-radius);
        }
    }

    .job-date {
        letter-spacing: _font(kern-body);
    }

    .job-desc {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
        align-items: center;
        margin-bottom: 1.25rem;
    }

    .job-desc p {
        margin: 0;
    }

    .job-icon {
        color: _palette(txt-accent);
    }
}

@include breakpoint('>=large') {
    .jobs-center {
        display: flex;
        column-gap: 4rem;
    }
    .btn-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .job-btn {
        margin-bottom: 1rem;
    }
    .active-btn {
        box-shadow: -2px 0 _palette(txt-accent);
    }
    .job-btn:hover {
        box-shadow: -2px 0 _palette(txt-accent);
    }
    .job-desc {
        display: flex;
        align-items: center;
        p {
            margin: 0 0 0 1rem;
        }
    }
}
