@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

// base
@include breakpoints(
    (
        xxlarge: (
            1400px,
            1900px,
        ),
        xlarge: (
            1281px,
            1680px,
        ),
        large: (
            981px,
            1280px,
        ),
        medium: (
            737px,
            980px,
        ),
        small: (
            481px,
            736px,
        ),
        xsmall: (
            361px,
            480px,
        ),
        xxsmall: (
            null,
            360px,
        ),
    )
);

@import 'base/_reset';
@import 'base/typography';
@import 'base/generic';
@import 'base/page';

// components
@import '../../components/links/socialLinks';
@import '../../components/footer/footer';
@import '../../components/navbar/navbar';
@import '../../components/sidebar/sidebar';
@import '../../components/services/services';
@import '../../components/projects/projects';
@import '../../components/cards/cardComponent';
@import '../../components/content/content';
@import '../../components/contact_form/contact-form';

// pages
@import 'pages/indexPage';
@import 'pages/404';

// templates
@import '../../templates/blog';
@import '../../templates/poem';
